
*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: Verdana, Areal;
	font-size: 12px;
	line-height: 20px;
	color: #222;	
}
#main{ 
	width: 800px;
	margin : 20px auto;
	}

#header{
	height: 90px;
	background: #2a79bc url("images/header.png") no-repeat; 
}

#header h1{
	font-size: 28px;
	letter-spacing: -1px;
	padding: 20px 0 0 20px;
	color: #ff5500;
	text-align: left;
	
  
}
#header h1 a {
 color: #fff;
 text-decoration: none;
 font-weight: 100;
 letter-spacing: -2px;
 text-align: right;
 padding-left: 10px;
 margin-top: 30px; 
 }
 #header h1 a:hover {
 color: #111;
 }

a {
text-decoration: none;
 color: #4682B4;
}

a:hover{
	text-decoration: underline;
color: #2a52be;
}
#left{
 width: 180px;
 padding-top: 10px;
 float: left;
}

#left h2{
	
 margin: 10px 0 0 0;
 height: 30px;
 line-height: 30px;
 padding-left: 10px;
 background: #2a79bc url(images/menu.png) no-repeat;
 color: #fff;
 font-size: 13px;
}

  #left ul {
 padding: 10px 0 15px 10px;
 list-style-type: square;
 color: #2979BD;
 padding-left: 0px;
}
#left ul li a {
 text-decoration: none;
 font-weight: 600;
}
#left ul li a:hover {
}


#right {
 float: right;
 width: 590px;
 text-align: justify;
 padding-top: 5px;
}
#right h2 {
 font-size: 18px;
 font-weight: 100;
 padding: 15px 0 7px 0;
}
#right h2 a {
text-decoration: none;
}
#right h2 a:hover {
}

 #footer {
  text-align: center;
 font-size: 11px;
 color: #0047ab;
 margin-top: 20px;
 border-top: 1px dotted #0047ab;
}
#footer a {
 color: #0047ab;
}


div.field {
      padding-bottom: 20px;
      margin: 0 auto;
      position: relative;
      }
      div.field label {
      float: left;
      height: 15px;
      }

      div.field input{
	  float: right;
	  position: absolute;
	  margin-left: 10px;
	  margin-right:10px; 
}
 
 #close{
 	padding-left: 50px;
 	float: right; 
 }

 #result {
 	padding-right: 50px;
 	float: left;
  }